:global {
  .data-grid-container :local(.datasheet) {
    width: 100%;
    font-family: Montserrat, sans-serif;

    tbody > tr > {
      td:nth-child(2) {
        padding: 9px;
      }
    }

    td.A {
      width: 200px;
    }

    .cell.read-only .value-viewer {
      color: rgba(0, 0, 0, 0.87);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .estimated-value-per-share-label + td {
      font-weight: bold;
    }
  }
}
