:global {
  :local(.datasheet) {
    width: 100%;

    > tbody > tr > td:first-child:not(.blank-cell) {
      width: 190px;
      padding: 10px;
    }

    .blank-cell {
      width: 30px;
    }

    td.A {
      width: 200px;
    }
  }
}
