/* Reset blueprints css */

body {
  font-size: initial;
  font-weight: initial;
  letter-spacing: initial;
  line-height: initial;
  text-transform: initial;
  color: initial;
  font-family: initial;
}

p {
  margin-bottom: initial;
  margin-top: initial;
}

small {
  font-size: initial;
}

strong {
  font-weight: initial;
}
