option_settings:
  aws:elasticbeanstalk:application:environment:
    EOD_HISTORICAL_DATA_API_KEY: '{{resolve:ssm:/node/staging/EOD_HISTORICAL_DATA_API_KEY:1}}'
    REGION: '{{resolve:ssm:/node/staging/REGION:1}}'
    STRIPE_AUTH_SECRET_KEY: '{{resolve:ssm:/node/staging/STRIPE_AUTH_SECRET_KEY:1}}'
    STRIPE_WEBHOOK_SECRET: '{{resolve:ssm:/node/staging/STRIPE_WEBHOOK_SECRET:1}}'
    COGNITO_ISSUER_URI: '{{resolve:ssm:/node/staging/COGNITO_USER_POOL_ID:1}}'
    DATABASE_HOST: '{{resolve:ssm:/node/staging/DATABASE_HOST:1}}'
    DATABASE_NAME: '{{resolve:ssm:/node/staging/DATABASE_NAME:1}}'
    DATABASE_PASSWORD: '{{resolve:ssm:/node/staging/DATABASE_PASSWORD:1}}'
    DATABASE_USER: '{{resolve:ssm:/node/staging/DATABASE_USER:1}}'
    APP_SUBDOMAIN_URL: '{{resolve:ssm:/common/staging/APP_SUBDOMAIN_URL:1}}'
    COGNITO_USER_POOL_ID: '{{resolve:ssm:/common/staging/COGNITO_USER_POOL_ID:1}}'
    PREMIUM_ENABLED: '{{resolve:ssm:/common/staging/PREMIUM_ENABLED:1}}'
    PORT: '{{resolve:ssm:/node/staging/PORT:1}}'
    NODE_ENV: staging
