.DrawerPortalOverlay.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  z-index: 20;
  outline: none;
  background: rgba(0, 0, 0, 0.75);
}

.DrawerPortalOverlay.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.DrawerPortalOverlay.ReactModal__Overlay--before-close {
  opacity: 0;
  transition: all 0.15s cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: 0.15s;
}

.DrawerPortalContent.ReactModal__Content {
  outline: none;
  margin-left: auto;
  width: 80%;
  height: 100vh;
  max-width: 650px;
  transform: translate(100%, 0);
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

.DrawerPortalContent.ReactModal__Content--after-open {
  transform: translate(0, 0);
  box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.25);
}

.DrawerPortalContent.ReactModal__Content--before-close {
  transform: translate(100%, 0);
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}
