@import "~react-phone-input-2/lib/material.css";

.react-tel-input .form-control {
  width: 100%;
}

.special-label {
  color: rgba(0, 0, 0, 0.54);
}

.specialLabelFocus {
  color: #43cea2;
}

div.specialLabelFocus > div {
  color: #43cea2;
}

.react-tel-input .form-control:focus {
  border-color: #43cea2;
  box-shadow: 0 0 0 1px #43cea2;
}

.react-tel-input .selected-flag:focus .arrow {
  border-top: 5px solid #43cea2;
}

.react-tel-input .form-control:focus + div:before {
  color: #43cea2;
}

.small {
  height: 40px;
}
